h1, h2, h3, h4, p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#comingSoon {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}